.class1{
     background-color:aqua ;
      transform:translate(100px,250px)
}
.class2{
     background-color:green ;
     transform:rotate(-50deg)
}
.class3{
     background-color:yellow;
     transform: scaleX(-400);
}
.class4{
     background-color:red ;
     transform:scaleY(1.5)
}
.class5{
     background-color:grey ;
     transform:scale(2,0.5)
}
.class6{
     background-color:blue ;
     transform:skewY(15deg);
}
.class7{
     background-color:pink ;
     transform:skew(-0.06turn)
}
.class8{
     background-color:brown ;
     transform:skew(.312rad);
}
.class9{
     background-color: gold;
     transform: matrix(1.2, 0.2, -1, 0.9, 0, 20);

}