.container{
     height: 500px;
     width:500px;
     background-color: green;
     border: 3px solid red;
     display:flex;
}
.box{
     height:150px;
     width:150px;
     margin:20px;
     border: 2px solid orange;
     background-color: aqua;
    /* transition in 2 seconds */
     /* transition:2s; */
     /* transition-property: all  */  /* but it s a bad practice*/
     /* transition-property: transform;
     transition-delay: 5s; 
     transform-duration:3sec;*/
     /* transition: transform 1s ease 3s; */
     
     /* transition :all 1s ease-in ; */
     /* transition :all 1s cubic-bezier(0.72,-1.35, 0.08, 2.01) ; */

transition :transform 3s ease  1s;
}
/* when i hover on box its colour change into brown */
.box:hover{
     /* background-color: brown;
     transform: rotate(45deg); */

     /* transform:translateX(500px); */
     transform: scale(2) translateX(500px) rotate(360deg);
}