.box{
     border: 1px solid black;
     height: 200px;
     width: 150px;
     background-image:linear-gradient(red,blue) ;
     background-image: linear-gradient(to right, red,blue);
     background-image: linear-gradient(to left, red,blue);
     background-image: linear-gradient(to bottom right, red,blue);
     background-image: linear-gradient(to bottom right, red,blue,green);
     background-image: linear-gradient(210deg, red,blue,green);
     background-image: linear-gradient(to bottom,rgba(1, 3, 2, 0));
/*in sab background images linear gradient me se last wali value select hogi*/

}
.mydiv{
     border:1px solid black;
     margin:10px;
     height:300px;
     background-image: radial-gradient(Red,blue,orange);
     background-image: radial-gradient(circle, Red,blue,orange);
/*in sab background images linear gradient me se last wali value select hogi*/

}
.mydiv2{
     border:1px solid black;
     margin:10px;
     height:300px;
     background-image: radial-gradient(yellow 5%,blue 10%,orange 50%);

}
.flag{
     border: 1px solid black;
     height: 200px;
     width: 150px;
     background-image:linear-gradient(orange,white,green) ;

}